<header role="banner" class="header fixed-top">
	<div class="container-fluid">
		<nav id="nav" class="row">
			<div class="col-2 offset-md-1">
				<div class="logo">
					<a href="/"><h1>Ronin™</h1></a>
				</div>
			</div>
			<div class="col-9 text-md-right">
				<ul class="list-unstyled m-0"> 
<!-- 					<li>
						<a href="/studio/" data-class="studio">studio</a>
					</li>
					<li>
						<a href="/noticias/" data-class="noticias" >noticias</a>
					</li>
					<li>
						<a href="/proyectos/" data-class="proyectos">proyectos</a>
					</li> -->
				</ul>
			</div>
		</nav>
	</div>
</header>




<!-- <header role="banner" class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-11 offset-md-1">
				<nav id="nav">
					<ul class="list-unstyled m-0"> 
						<li class="logo">
							<a href="/"><h1>Ronin™</h1></a>
						</li>
						<li>
							<a href="/studio/" data-class="studio">studio</a>
						</li>
						<li>
							<a href="/new/" data-class="new" >new</a>
						</li>
						<li>
							<a href="/work/" data-class="work">work</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header> -->
