<!DOCTYPE html>
<html>


{% include statics_head.html %}

  <body {% if page.slug %}class="{{ page.slug }}"{% endif %}>
  
    <!-- Header
    ================================================== -->
    {% include header.html %}

    <!-- Page content
    ================================================== -->
    {{ content }}

    <!-- Footer colophon 
    ================================================== -->
    {% include footer.html %}

    <!-- Footer js 
    ================================================== -->
    {% include statics_footer.html %}

  </body>

</html>
